# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# logs
logs
*.log

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
